body {

    background-image: url(../Spam/assets/uno.gif);
}

        .cuadro {
            position: absolute;
            width: 400px;
            height: 200px;
            background-color: rgb(0, 0, 0);
            border: 5px dashed rgb(255, 255, 255);
            text-align: center;
            line-height: 60px;
            font-weight: bold;
            color: rgb(255, 247, 0);
            font-size: 60px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }
        h1 {
            font-size: 25px;
            
        }

     

    



        





