body{
    background-color: black;
    text-align: center;

}
h1 {
    text-align: center;
    color: rgb(168, 0, 0);
    font-size: 70px;
}


div{
    background-color: black;
    font-size: center;
    padding: center;
    margin-left: 500px;
    margin-right: 500px;


}

footer{
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 70px;
}


a {
    font-size: 30px;
    margin-bottom: 200px;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}